@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-policy-container">
    <h1>Privacy Policy for Anonymous Forum</h1>
    <p>At Anonymous Forum, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Anonymous Forum and how we use it.</p>
    <br />
    <h2>Consent</h2>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
    <br />
    <h2>Information We Collect</h2>
    <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>

</div>

